.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.my-picture {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  margin-top: 20px;
  border: 10px solid #395b64;
  position: relative;
}


.head {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #e7f6f2;
  border-radius: 50%;
  margin-top: 100px;
}

.split-line {
  height: 300px;
  width: 300px;
  border: 15px solid #395b64;
  transform: rotate(45deg);
  position: absolute;

}

.split-line::after {
  background-color: beige;
}

.top-section {
  /* background-color: aliceblue;
  border-bottom-left-radius: 300px; */
}

.bottom-section {
  /* background-color: #2C2F33; */
  /* border-top-left-radius: 200px; */
  padding-top: 20px;
}

h1 {
  color: #c2d2fe;
  position: relative;
  margin-bottom: 0;
}

h5{
  margin-top: 0;
}

.about {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.mb-3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.know_me_better{
  /* background-color: #282c34; */
  /* border-top-left-radius: 500px;
  border-bottom-right-radius: 1000px; */
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.left-block {
  height: 70px;
  width: 70px;
  display: block;
  position: relative;
  margin-right: 20px;
}

.right-block {
  height: 70px;
  width: 350px;
  display: block;
  position: relative;
  margin-left: 10px;
}

.heading-block {
  margin-top: 0px;
}

.year-block {
  margin-top: -15px;
}

.bar {
  margin-top: -20px;
  height: 30px;
  width: 150px;
  margin-bottom: 20px;
}

.icon {
  display: block;
  height: 600px;
  width: 600px;
}

.block {
  height: 75px;
  width: 400px;
  margin-top: 5px;
  position: relative;
  display: flex;
}



.page {
  background-color: #395b64;
  min-height: 100vh;
  width: 90vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

 p {
  color: white;
}

.bio {
  color: white
}

.App-body {
  background-color: #395b64;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}